body {
    background: linear-gradient(0deg, rgba(34,187,87,1) 0%, rgba(144,248,183,1) 100%);
}

nav a:hover {
    color: green; /* Couleur dominante de la page like */
}

.dark-mode {
    background: linear-gradient(180deg, rgba(29, 185, 84, 1) 0%, rgba(26, 71, 42, 1) 100%);
}

.dark-mode nav a {
    background: #121020;
    color: green;
}
