/* Responsive : */

/* Extra large (1200px et plus) */
@media (min-width: 1200px) {
.container {
max-width: 1400px;
margin: 0 auto;
}

nav a {
font-size: 20px;
}

.modal {
width: 500px;
}

.music-card {
max-width: 350px;
height: 50vh;
}
}

/* Large (992px) */
@media (min-width: 992px) {
.container {
max-width: 1200px;
margin: 0 auto;
}

nav a {
font-size: 18px;
}

.modal {
width: 400px;
}

.music-card {
max-width: 320px;
height: 55vh;
}
}

/* Medium (768px) */
@media (min-width: 768px) and (max-width: 991px) {
nav {
flex-direction: row;
justify-content: space-between;
}

nav a {
font-size: 16px;
}

.modal {
width: 80%;
}

.music-card {
max-width: 280px;
height: 60vh;
}
}

@media (max-width: 767px) {
    nav {
        justify-content: space-between;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        width: 90%; /* Prend presque toute la largeur de l'écran */
    }

    nav .nav-links {
        display: none; /* Masque les liens de navigation */
        flex-direction: column;
        width: 100%;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre autour du menu déroulant */
        border-radius: 10px;
        padding: 10px 0;
        position: absolute;
        top: 100%; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #16122d;
    }

    nav .nav-links a {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    #menu-toggle {
        display: block; /* Affiche le bouton de menu */
        margin: 0 auto;
    }

    nav .nav-links.active {
        display: flex; /* Affiche les liens de navigation */
    }
}

/* Small (576px) */
@media (min-width: 576px) and (max-width: 767px) {
nav {
flex-direction: column;
align-items: flex-start;
}

nav a {
width: 100%;
text-align: center;
font-size: 16px;
margin-bottom: 15px;
padding: 10px 0;
}

.modal {
width: 90%;
}

.Titre {
font-size: 1.75em;
}

.music-card {
max-width: 250px;
height: 65vh;
}
}

/* Extra small (moins de 576px) */
@media (max-width: 575px) {

nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

nav a {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.modal {
    width: 95%; 
}

.modal-header {
    font-size: 18px; 
}

.modal-button {
    width: 100%; 
    padding: 10px; 
}


.Titre {
    font-size: 1.5em;
}

.modal-header {
    font-size: 18px;
}

.music-card {
    max-width: 200px;
    height: 70vh;
}

}