/* Styles pour la fenêtre modale */
.modal 
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #16122d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    width: 300px;
}

.modal.show 
{
    display: block;
}

.modal-header 
{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-buttons 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-button 
{
    background: #1c163a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modal-button.spotify 
{
    background: green;
}

.modal-button.spotify:hover 
{
    background: darkgreen;
}

.closeModalButton 
{
    position: absolute;
    top: 10px;
    right: 10px; /* Positionne le bouton en haut à droite */
    background: #ff5f5f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.closeModalButton:hover 
{
    background: #ff3333; /* Couleur de fond au survol */
}